.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.push-left {
  position: absolute;
  right: auto;
  left: 0;
}
.push-right {
  position: absolute;
  right: 0;
  left: auto;
}
.push-top {
  position: absolute;
  top: 0;
  bottom: auto;
}
.push-bottom {
  position: absolute;
  top: auto;
  bottom: 0;
}
