.loading:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}
.loading:after {
  top: 50% !important;
  left: 50% !important;
  z-index: 101 !important;
  margin-top: -16px !important;
  margin-left: -16px !important;
  width: 32px !important;
  height: 32px !important;
  background-position: left top !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  content: "" !important;
  position: absolute !important;
}
